*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    background-image: url('https://i.pinimg.com/736x/ef/17/38/ef1738599330c190faca45d115652ed6.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

.container {
    background: #fff;
    padding: 20px;
    box-shadow: 5 5 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
}

h2 {

    margin-bottom: 25px;
    text-align: center;
    background-color: #8b36e0;
    border-radius: 10px;
    color: #f3f3ed;
}

h3{
    text-align: center;
    color: rgb(7, 16, 18);
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-weight: 700;
    font-size: medium;
    cursor: pointer;
    margin: 5px;
    align-content: center;
    
}

button:hover {
    background-color: #045bb8;
    border:#8b36e0;
}

button:disabled {
    background-color: #cccccc;
}

.form_page {
    display: none;
}

.form_page.active {
    display: block;
}
